li {
  list-style-type: none;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 8px;
  border-left: 12px solid #fa6c0d;
  background-color: #fff;
  box-shadow: none;
  margin-left: 10%;
  margin-right: 10%;
}

li:hover {
  transition-duration: 0.2s;
  box-shadow: 5px 5px 6px #c2b9ae;
  cursor: pointer;
}
